@import "tailwindcss";

body {
 @apply bg-[#FDFCFB] text-[#111827];
  font-family: Arial, Helvetica, sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background: #e3d4bb59;
}
@keyframes pulseShimmer {
  from {
    background-position: -1000px;
  }
  to {
     background-position: 1000px;
  }
}

.buttonbg{
   /* box-shadow: inset -12px -7px 17px 11px #00000017, 0 8px 10px -6px #0000001a ; */
  @apply text-white px-4  transition-all  duration-500 rounded-full bg-gradient-to-br  from-amber-200 to-amber-600 ;
}
.textbg{
 @apply bg-clip-text text-transparent bg-gradient-to-r from-amber-500 to-red-500;
}
button{
 cursor: pointer;
}